
@model TrashCollector.Models.Customer
    
}

<h2>Map</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>

    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 1000px;
            width: 1000px;
        }
        /* Optional: Makes the sample page fill the window. */
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map;
 function initMap() {
  var myLatLng = {lat: @Model.lat, lng: @Model.lng};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '@Model.address'
  });
}
    </script>

    <script @{ 
        var srcKey = "https://maps.googleapis.com/maps/api/js?key=" + APIKeys.apiKeys + "&callback=initMap";
    }></script>

    <script src=@srcKey ></script>

</body>
</html>